<!-- 日志要记录的
	进入页面

-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>健康自检</title>
		
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/app.css" rel="stylesheet" />
		<link href="../css/diag.css" rel="stylesheet" />
		<link href="../css/chart.css" rel="stylesheet"/>

		<link rel="stylesheet" href="../css/angular-material.min.css" />
		<script src="../data/question.js" ></script>
		<script src="../data/tizhi.js" ></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/angular-animate.min.js"></script>
		<script src="../js/angular-aria.min.js"></script>
		<script src="../js/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="../js/angular-material.min.js"></script>
		<!-- echarts-->
		<script src="../js/echarts.min.js"></script>
		<script src="../js/diagnosis.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/radar-option.js"></script>
		<!-- 剪切图片 -->
		<script type="text/javascript" src="../crop/js/plugins/jquery-3.1.1.slim.min.js" ></script>
		<script type="text/javascript" src="../crop/js/plugins/cropper/js/cropper.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="../crop/js/plugins/cropper/css/cropper.min.css"/>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<header class="mui-bar mui-bar-nav">
			          <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">健康自检</h1>
		</header>
		<!-- 加载中蒙板 -->
		<div class="loading-overlay" id="loading-overlay">
			<img src="../images/loading.svg"  style="height:80px; width:80px;"/>
		</div>
		
		<div class="mui-content" >
			
			<p style="margin-top:10px;margin-left: 10px;font-size: x-small;">请点击圆圈，拍摄照片完成面诊、舌诊（可以跳过此步） </p>
			<!-- 面诊和舌诊容器 -->
			<div class="pic-diag-ctn">
				<div class="pic-diag-sub-ctn"> 
					<div class="border face-diag">
						<div style="position:relative">
							<span>面诊</span>
							<img id="faceimg" src="../images/face.png" />
							<!-- <input type="file" id="facepic" onchange="selectFile('face')"/> -->
							<!-- https://blog.csdn.net/klo220/article/details/53331229 -->
							<input type="file" id="facepic" onchange="angular.element(this).scope().selectFile('face')" ng-model="facepic" accept="image/*" capture="camera" />
						</div>
						<div class="desc" id="face-desc" ng-click="showDesc($event, 'face')">
							请拍面部
						</div>
					</div>
				</div>
				<div class="pic-diag-sub-ctn"> 
					<div class="border tongue-diag">
						<div style="position:relative">
							<span>舌诊</span>
							<img id="tongueimg" src="../images/tongue.png" />
							<input type="file" id="tonguepic" onchange="angular.element(this).scope().selectFile('tongue')" ng-model="tonguepic" accept="image/*" mutiple="mutiple" capture="camera" />
						</div>
						<div class="desc" id="tongue-desc" ng-click="showDesc($event, 'tongue')">
							请拍舌头
						</div>
					</div>
				</div>
			</div>
			<!-- 问诊容器 -->
			<p style="margin-top:5px;margin-left: 10px;font-size: x-small;">请点击方块，回答问题完成问诊（可以选择部分回答或者不回答） </p>
			<div class="qst-ctn border">
				<span>问诊</span>
				
				<!-- 颜色说明 -->
				<div class="color-board">
					<div>-有症状</div>
					<div>-无症状</div>
					<div>-未回答</div>
				</div>
				<div class="mui-content ">
					<div class="mui-row">
						<div class="mui-col-sm-4 mui-col-xs-6 mui-col-md-3" ng-repeat="q in questions">
							<div class="{{q.state}}" d="{{q.state}}">
								<div name="questions" class=" mui-table-view-cell cir-question" ng-click="showQuestion($event, $index)" ng-if="$index<13&& q.choose_result.length==0">
									{{q.short_question}}
								</div>
								<div name="questions" class=" mui-table-view-cell cir-question" ng-click="showQuestion($event, $index)" ng-if="$index<13 && q.choose_result.length!=0">
									{{q.choose_result}}
								</div>
							</div>
						</div>
					</div>
					<div class="footer">
						<button class="btn" ng-click="diagnosis()">诊断</button>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			var showLoading = util.showLoading;
			// 获取用户个人信息
			var userPhone = localStorage.getItem("userPhone");
			var userType = localStorage.getItem("userType");
			var isApp = false;
	
			// app环境下保存结果
			var faceResult = null;
			var tongueResult = null;
			var app = angular.module('myApp', ['ngMaterial', 'ngMessages']);
			// https://blog.xinshangshangxin.com/2015/12/17/ngClick-fires-twice-on-button/
			app.config(function($mdGestureProvider ) {
				$mdGestureProvider.skipClickHijack();
			});
			// 上传用户的上一次记录
			util.log_op("进入页面", "diag.html "+localStorage.getItem("lastReport"));

			/************ 函数定义 ******** */

			/**
			 * 
			 * 上传图片
			 * type: "face" , "tongue"
			 */
			var uploadImage = function(type){
				showLoading(true);
				var id = "facepic";
				var imgid = "faceimg";
				var descid = "face-desc";
				if(type =="face"){
					// 'facepic', 'faceimg', 'face-desc'
					id = "facepic";
					imgid = "faceimg";
					descid = "face-desc";
				}else{
					// 'tonguepic', 'tongueimg', 'tongue-desc'
					id = "tonguepic";
					imgid = "tongueimg";
					descid = "tongue-desc";
				}
				//console.log("select file"+id);
				var files = document.getElementById(id).files;
				if(0== files.length){
					showLoading(false);
					return;
				}
				var file = files[0];
				var reader = new FileReader();

				reader.readAsBinaryString(file);
				reader.onload = function(f){
					var result = document.getElementById(imgid);
					var src = "data:" + file.type + ";base64," + window.btoa(this.result);
					result.src = src;

					// upload img
					var url = "http://facestory.cn:8080/upload"
					var form = new FormData();
					form.append("file", file);
					form.append("type", type);
					var timeoutCallback = setTimeout(function(){
						showLoading(false);
						mui.alert("请检查网络连接后重试", '连接超时', null);

					}, 10000);
		　		 	mui.ajax({
						url:url,
						type:"post",
						data:form,
						processData:false,
						contentType:false,
						success:function(data){
							clearTimeout(timeoutCallback);
							setTimeout(function(){
								if(type=="face"){
									faceResult = data;
								}else{
									tongueResult = data;
								}
								showLoading(false);
								if(type=="face"){
									document.getElementById(descid).innerHTML = getfaceResult(data);
								}else{
									document.getElementById(descid).innerHTML = gettongueResult(data);
								}
								if("0"==data.raw){
									console.log("检测失败");
									//document.getElementById(descid).innerHTML
									return;
								}
								var html = "";
								var short_html = "";
								for(var key in data.result){
									console.log(data.key[key]);
									console.log(data.info[key][data.result[key]]);
									html+=data.key[key]+":"+data.info[key][data.result[key]]+" ";
								}
								
								
							}, 1000);
							console.log("over..");
							
							console.log(data);
						},
						error: function(req, status, error){
							clearTimeout(timeoutCallback);
							setTimeout(function(){
								showLoading(false);
								mui.alert(status, "请求出错", null);
							}, 1000);
						}
					});
				}
			};
			// 上传图片的base64,获取面诊结果
			var uploadBase64Image = function(type, base64str){
				showLoading(true);
				var id = "facepic";
				var imgid = "faceimg";
				var descid = "face-desc";
				if(type =="face"){
					// 'facepic', 'faceimg', 'face-desc'
					id = "facepic";
					imgid = "faceimg";
					descid = "face-desc";
				}else{
					// 'tonguepic', 'tongueimg', 'tongue-desc'
					id = "tonguepic";
					imgid = "tongueimg";
					descid = "tongue-desc";
				}
				// upload img
				var url = config.server_root+"upload_image_base64"
					var form = new FormData();
					form.append("base64", base64str);
					form.append("type", type);
					var timeoutCallback = setTimeout(function(){
						showLoading(false);
						mui.alert("请检查网络连接后重试", '连接超时', null);

					}, 10000);
		　		 	mui.ajax({
						url:url,
						type:"post",
						data:form,
						processData:false,
						contentType:false,
						success:function(data){
							clearTimeout(timeoutCallback);
							setTimeout(function(){
								if(type=="face"){
									faceResult = data;
								}else{
									tongueResult = data;
								}
								showLoading(false);
								if(type=="face"){
									document.getElementById(descid).innerHTML = getfaceResult(data);
								}else{
									document.getElementById(descid).innerHTML = gettongueResult(data);
								}
								if("0"==data.raw){
									console.log("检测失败");
									//document.getElementById(descid).innerHTML
									return;
								}
								var html = "";
								var short_html = "";
								for(var key in data.result){
									console.log(data.key[key]);
									console.log(data.info[key][data.result[key]]);
									html+=data.key[key]+":"+data.info[key][data.result[key]]+" ";
								}
								
								
							}, 1000);
							console.log("over..");
							
							console.log(data);
						},
						error: function(req, status, error){
							clearTimeout(timeoutCallback);
							setTimeout(function(){
								showLoading(false);
								mui.alert(status, "请求出错", null);
							}, 1000);
						}
					});
				
			};
			
			/**
			 * 压缩并上传照片
			 */
			var compressAndUpload= function(path, type){
				plus.zip.compressImage({
					src: path,
					dst: "_doc/compress/"+path,
					quality:20,
					overwrite:true
				}, function(e){
					console.log("压缩成功", e, e.target);
					document.getElementById(type+"img").src = e.target;
					var task = plus.uploader.createUpload("http://facestory.cn:8080/upload",
						{method: "POST"},
						function(t, status){
							console.log("upload finish", t.responseText, status);
							if(200==status){
								var data = JSON.parse( t.responseText);
								if(type=="face"){
									faceResult = data;
									document.getElementById("face-desc").innerHTML = getfaceResult(faceResult);
									//console.log(data.result, faceResult);
								}else{
									tongueResult = data;
									document.getElementById("tongue-desc").innerHTML = gettongueResult(tongueResult);
									//console.log(data.result, tongueResult);
								}
							}
							showLoading(false);
						}
					);
					task.addFile(e.target, {key:"file"});
					task.addData("type", type);
					task.start();
				}, function(err){
					console.log("压缩失败");
					showLoading(false);
					alert("压缩图片失败"+err)
				});
			}
			/*******  函数定义结束 ********/
			
			app.controller('myCtrl', function($scope, $mdDialog){
				$scope.questions = questions.rows;
				$scope.faceResult = null;
				$scope.tongueResult = null;
				$scope.id = 0;  

				$scope.facepic = null;

				$scope.qs = $scope.questions;
				console.log($scope.questions);
				$scope.name = "7787";

				// 加载上次记录
				var lastReport = localStorage.getItem("lastReport");
				if(null!=lastReport){
					
					lastReport = JSON.parse(lastReport);
					console.log("lastReport", lastReport);
					$scope.questions = lastReport.questions;
					faceResult = lastReport.faceResult;
					tongueResult = lastReport.tongueResult;
					// 还原上次面诊舌诊结果
					document.getElementById("face-desc").innerHTML = getfaceResult(lastReport.faceResult);
					document.getElementById("tongue-desc").innerHTML = gettongueResult(lastReport.tongueResult);

					// 还原上次图片
					if(null!= lastReport.faceResult)document.getElementById("faceimg").src = config.media_root+lastReport.faceResult.file;
					if(null!= lastReport.tongueResult)document.getElementById("tongueimg").src = config.media_root+lastReport.tongueResult.file;

					for(var i=0;i<$scope.questions.length;++i){
						var chooseIndex = -1;
						for(var j=0;j<$scope.questions[i].choose.length;++j){
							if($scope.questions[i].choose[j].state=="true"){
								chooseIndex = j;
							}
						}
						if(chooseIndex == -1){ // 没选
							$scope.questions[i].state = "cir-question-ctn";
						}else if(chooseIndex==$scope.questions[i].choose.length-1){ // 选中了最后一个
							$scope.questions[i].state = "cir-question-ctn-last-good";
						}else{
							$scope.questions[i].state = "cir-question-ctn-last-bad";
						}
					}
				}
				
				var updateQuestion = function(qid){ // 考虑同时改变主页面上的问题描述
					console.log("updateQuestion");
					//console.log($scope.questions.reverse());
					//function changecolor($scope,state){if(state){$scope.ss=true;}else{$scope.ss=false;}}
					c = $scope.questions[qid].choose;
					var chooseIndex = -1;
					if ($scope.questions[qid].option_type == '0'){//单选题
						var choose = document.getElementsByName("danxuan");
						var q = document.getElementsByName("questions")[qid];
						//首先清空choose_result
						$scope.questions[qid].choose_result = "";
						var chooseIndex = -1;
						for (var i=0; i<choose.length; i++){
							if (choose[i].checked){
								c[i].state = "true";
								chooseIndex = i;
								$scope.questions[qid].choose_result+=c[i].title_result;						
							}
							else {c[i].state = "false";}//为确保多次更改同一题的正确性
						}
					}
					else{ //多选题
						var choose = document.getElementsByName("duoxuan");
						var q = document.getElementsByName("questions")[qid];
						//首先清空choose_result
						$scope.questions[qid].choose_result = "";
						//q.innerHTML = "";
						var chooseIndex = -1;
						for (var i=0; i<choose.length; i++){
							if (choose[i].checked){
								c[i].state = "true";
								$scope.questions[qid].choose_result+=c[i].title_result+" ";
								chooseIndex = i;
								//q.innerHTML+=c[i].title_result+" ";
							}
							else{c[i].state = "false";}
						}
					}
					if ($scope.questions[qid].choose_result!=""){
						//q.innerHTML = $scope.questions[qid].choose_result;
						if(chooseIndex == c.length-1){	// 选到最后一个
							$scope.questions[qid].state = "cir-question-ctn-good";
						}else{
							$scope.questions[qid].state = "cir-question-ctn-bad";
						}
					}
					else{	// 没选
						//q.innerHTML = $scope.questions[qid].short_question;
						$scope.questions[qid].state = "cir-question-ctn";
					}
					console.log($scope.questions[qid]);
					
				}
			
				/**
					点击面诊或者舌诊
				**/
				$scope.selectFile = function(type){
					var id = "facepic";
					var imgid = "faceimg";
					var descid = "face-desc";
					if(type =="face"){
						// 'facepic', 'faceimg', 'face-desc'
						id = "facepic";
						imgid = "faceimg";
						descid = "face-desc";
					}else{
						// 'tonguepic', 'tongueimg', 'tongue-desc'
						id = "tonguepic";
						imgid = "tongueimg";
						descid = "tongue-desc";
					}
					//console.log("select file"+id);
					var files = document.getElementById(id).files;
					if(0== files.length){
						showLoading(false);
						return;
					}
					var file = files[0];

					var updateImage = function(src){
						document.getElementById(imgid).src = src;
					}
					
					$mdDialog.show({
						controller: function($scope, $mdDialog, type, file){
							console.log("show dialog", type, file)
							
							$scope.confirm = function(){
								console.log("hide");
								var data = $("#target-img").cropper("getCroppedCanvas" , {
									width: 300 , height: 300
								});
								var imgUrl = data.toDataURL("image/png", 1);
								updateImage(imgUrl);
								console.log("crop end", data, imgUrl);
								$("#target-img").cropper("disable");
								$mdDialog.hide();
								// 上传图片到服务器
								uploadBase64Image(type, imgUrl);
							}
							$scope.hide = function(){
								$mdDialog.hide();
							}

							
							var reader = new FileReader();

							reader.readAsBinaryString(file);
							reader.onload = function(f){
								var result = document.getElementById("target-img");
								var src = "data:" + file.type + ";base64," + window.btoa(this.result);
								result.src = src;
								
							};

						},
						locals:{
							type: type,
							file: file
						},
						templateUrl: './crop-image.tmpl.html',
						parent: angular.element(document.body),
						//targetEvent: ev,
						clickOutsideToClose:false,
						fullscreen: $scope.customFullscreen, // Only for -xs, -sm breakpoints.
						onComplete: function(){    // 显示完成后的回调函数
							console.log("show complete")
							// 初始化剪切
							console.log("7777777777")
							$("#target-img").cropper({
								aspectRatio: 3/3 , 
								autoCropArea: 1,
								dragMode: "move",//设置移动图片、重新绘制选图区域
								cropBoxResizable: false,
								movable: true,//是否允许移动裁切框
								zoomable: true,//是否允许放大图片
								guides: true,//取消显示裁切线中间的虚线网格
								minContainerWidth: 300,
								minContainerHeight: 300,
								minCanvasWidth: 300,
								minCanvasHeight: 300,
								crop: function(data){
									//初始化
									window._scaleX = data.scaleX;
									window._scaleY = data.scaleY;
									console.log("crop", data);
								}
							});
							$("#target-img").cropper("enable");
							
						}
					})
					// uploadImage(type);
				};
			
				// 显示图片诊断的解释
				$scope.showDesc = function(ev, type){
					util.log_op("diag.html-点击图片诊断描述showDesc", "")
					if(userType!="2")return;
					console.log(faceResult, tongueResult);
					var desc = "描述";
					var score = [0,0,0,0,0,0];
					var file = "";
					if( type=='face'){
						console.log("show face desc");
						desc = getfaceResult(faceResult);
						score = getFaceScore(faceResult);
						file = faceResult.file;
						util.log_op("diag.html-点击面诊解释", "")
					}else{
						console.log("show tongue desc");
						desc = gettongueResult(tongueResult);
						score = getTongueScore(tongueResult);
						file = tongueResult.file;
						util.log_op("diag.html-点击舌诊解释", "")
					}
					console.log(score, desc);
					$mdDialog.show({
						controller: function DialogController($scope, $mdDialog, pic, score, desc, tizhi, userType){

							// 复制变量
							$scope.pic = pic;
							$scope.score = score;
							$scope.desc = desc;
							$scope.tizhi = tizhi;
							$scope.userType = userType;

							$scope.cancel = function(){
								console.log($scope.userType)
								$mdDialog.hide();
							}

							var description = "";
							if (score[0]>0){description+=" 有点阳虚";}
							if (score[1]>0){description+=" 有点阴虚";}
							if (score[2]>0){description+=" 有点痰湿";}
							if (score[3]>0){description+=" 有点瘀滞";}
							if (score[4]>0){description+=" 有点脾虚";}
							if (score[5]>0){description+=" 有点肾虚";}
							if (score[6]>0){description+=" 有点气虚";}

							if(""==description)description = "正常，无症状";
							$scope.description = description;

							$scope.showTizhi = function(index){
								console.log("showTizhi", index);
								mui.alert( util._f(tizhi[index]), tizhi[index].type, function(){
									util.log_op("在图片诊断中查看体质解释"+index, "diag.html");
								});
							}

							
						},
						locals:{
							pic: config.media_root+file,
							score: score,
							desc: desc,
							tizhi: tizhi.rows,
							userType: userType
						},
						templateUrl: './dialog2.tmpl.html',
						parent: angular.element(document.body),
						targetEvent: ev,
						clickOutsideToClose:false,
						fullscreen: $scope.customFullscreen, // Only for -xs, -sm breakpoints.
						onComplete: function(){    // 显示完成后的回调函数
							console.log("oncomplete")
							var myradar = echarts.init(document.getElementById('radar'));
							option.series[0].data[0].value = score;
							myradar.setOption(option);
						}
					})
					.then(function() {
						console.log("then")
					}, function() {
						$scope.status = 'You cancelled the dialog.';
					});
				}

				$scope.save_and_draw = function(qs, qid){  //用于重新进入问题页面时,显示上次选择情况
					var byId = function(id){
						return document.getElementById(id)
					}
					var myradar = echarts.init(byId('radar'));
					choose = qs[qid].choose;
					//console.log(choose)
					var score = [0,0,0,0,0,0,0];
					var mdescription = "";
					if (qs[qid].option_type == '0'){
						var default_check = document.getElementsByName("danxuan");
					}
					else{var default_check = document.getElementsByName("duoxuan");
					console.log(default_check);}
					
					for (var i=0; i<choose.length; i++){
						if (choose[i].state == "true"){
							score[0]+=choose[i].score.yangxu;
							score[1]+=choose[i].score.yinxu;
							score[2]+=choose[i].score.tanshi;
							score[3]+=choose[i].score.yuzhi;
							score[4]+=choose[i].score.pixu;
							score[5]+=choose[i].score.shenxu;
							score[6]+=choose[i].score.qixu;
							default_check[i].checked = true;
						}
					}
					if (score[0]>0){mdescription+=" 有点阳虚";}
					if (score[1]>0){mdescription+=" 有点阴虚";}
					if (score[2]>0){mdescription+=" 有点痰湿";}
					if (score[3]>0){mdescription+=" 有点瘀滞";}
					if (score[4]>0){mdescription+=" 有点脾虚";}
					if (score[5]>0){mdescription+=" 有点肾虚";}
					if (score[6]>0){mdescription+=" 有点气虚";}

					if(""==mdescription)mdescription = "正常，无症状";
						
					document.getElementById("description").innerHTML = mdescription;
					option.series[0].data[0].value = score;
					myradar.setOption(option);	
					return description;
				}
				/**
				 *	点击诊断 
				**/
				$scope.diagnosis = function(){
					showLoading(true);
					
					$scope.faceResult = faceResult;
					$scope.tongueResult = tongueResult;
					console.log("diagnosis", $scope.faceResult, $scope.tongueResult, $scope.questions, isApp);
					console.log(JSON.stringify($scope.tongueResult), JSON.stringify($scope.faceResult));
					var result = diagnosis($scope.questions, $scope.faceResult, $scope.tongueResult);
					console.log(result);
					util.log_op("diag.html-点击诊断", "-");
					mui.ajax(config.server_root+"api/report/",{
						data:{
							"tizhi": result.phy,
							"score": result.healthScore,
							"tongue": JSON.stringify($scope.tongueResult),
							"face": JSON.stringify($scope.faceResult),
							"questions": JSON.stringify($scope.questions),
							"phone": userPhone,
							"result_json": JSON.stringify(result)
						},
						dataType:"json",
						headers:{'Content-Type': 'application/json'},
						type:'POST',//HTTP请求类型
						timeout:10000,//超时时间设置为10秒；
						success:function(data){
							showLoading(false);
							console.log(data);
							localStorage.setItem("record", JSON.stringify(data));
							mui.openWindow({"id":"report", "url":"report.html"});
							var lastReport = {
								"questions": $scope.questions,
								"faceResult": $scope.faceResult,
								"tongueResult": $scope.tongueResult
							}
							localStorage.setItem("lastReport", JSON.stringify(lastReport));
						},
						error:function(xhr,type,errorThrown){
							showLoading(false);
						}
					});
				}

				$scope.showQuestion = function(ev, index) {
					console.log(index)
					util.log_op("diag.html-打开问题-"-index, "")
					$mdDialog.show({
						controller: DialogController,
						locals:{
							id: index,
							qs: $scope.questions,
							userType: userType,
							tizhi: tizhi.rows
						},
						templateUrl: './dialog1.tmpl.html',
						parent: angular.element(document.body),
						targetEvent: ev,
						clickOutsideToClose:false,
						fullscreen: $scope.customFullscreen, // Only for -xs, -sm breakpoints.
						onComplete: function(){    // 显示完成后的回调函数
							//根据qs的当前值,判断上次保存的情况
							if(userType=="2" || userType=="3"){     // userType = 1, 不能看到解释内容
								$scope.save_and_draw($scope.questions, index);
							}	
						}
					})
					.then(function() {
						console.log("then")
					}, function() {
						$scope.status = 'You cancelled the dialog.';
					});
				};

				function DialogController($scope, $mdDialog, id, qs, userType, tizhi) {
					$scope.hide = function() {
						$mdDialog.hide();
						console.log("hide")
					};
					$scope.cancel = function() {
						$mdDialog.cancel();
						console.log("cancel")
						updateQuestion(id); // 这里要传参数
						util.log_op("diag.html-关闭问题"+id);
					};
					// 赋值到scope, 在前端显示
					$scope.id = id;
					$scope.qs = qs;
					$scope.userType = userType;
					$scope.tizhi = tizhi;


					$scope.showTizhi = function(index){
						console.log("showTizhi", index);
						mui.alert( util._f(tizhi[index]), tizhi[index].type, function(){
							var context = {};
							util.log_op("diag.html-在问诊中查看体质解释"+index, "问题id"+$scope.id);
						});
					}

					$scope.choose = function(index, qid){
						var context = {};
						context.index = index;
						context.qid = qid;
						util.log_op("diag.html-选择选项", JSON.stringify(context));
						var box = document.getElementsByName("duoxuan");
						var cur = box[index];
						console.log(index, cur, cur.checked);

						if(cur.checked){
							// 选中最后一个
							if(index == box.length-1){
								for(var i=0;i<box.length-1;++i){
									box[i].checked = false;
								}
							}else{ // 点击其他
								box[box.length-1].checked = false;
							}
						}
					}
					$scope.draw = function(scores, qid){  //added
						if(userType!='2')return;  // 第二类才可以
						var byId = function(id){
							return document.getElementById(id)
						}
											
						var score = [0,0,0,0,0,0,0];
						var description = "";
						// 多选
						if (qs[qid].option_type == '1'){//多选题						
							var choose = document.getElementsByName("duoxuan");
							//if (choose[choose.length-1].checked==false){
								for (var i=0; i<choose.length-1; i++){
									if (choose[i].checked){									
										score[0]+=qs[qid].choose[i].score.yangxu;
										score[1]+=qs[qid].choose[i].score.yinxu;
										score[2]+=qs[qid].choose[i].score.tanshi;
										score[3]+=qs[qid].choose[i].score.yuzhi;
										score[4]+=qs[qid].choose[i].score.pixu;
										score[5]+=qs[qid].choose[i].score.shenxu;
										score[6]+=qs[qid].choose[i].score.qixu;
									}						
								}
							//}
							
						}
						else{score = [scores.yangxu,scores.yinxu, scores.tanshi, scores.yuzhi, scores.pixu, scores.shenxu, scores.qixu];}
						if (score[0]>0){description+=" 有点阳虚";}
						if (score[1]>0){description+=" 有点阴虚";}
						if (score[2]>0){description+=" 有点痰湿";}
						if (score[3]>0){description+=" 有点瘀滞";}
						if (score[4]>0){description+=" 有点脾虚";}
						if (score[5]>0){description+=" 有点肾虚";}
						if (score[6]>0){description+=" 有点气虚";}

						if(""==description)description = "正常，无症状";
						document.getElementById("description").innerHTML = description;
						//console.log(scores);
						
						var myradar = echarts.init(byId('radar'));
						option.series[0].data[0].value = score;
						myradar.setOption(option);			
					}
				}
			});
			mui.init();
			mui.plusReady(function () {
				isApp = true;
				console.log("app环境");
				mui("#facepic")[0].style.zIndex = -1; // 不可点击
				mui("#tonguepic")[0].style.zIndex = -1; // 不可点击
				
				mui("body").on("tap", ".face-diag", function(){
					console.log("tap");
					plus.nativeUI.actionSheet({
						cancel:"取消",
						buttons:[
							{title: "相机"},
							{title: "相册"}
						]
					}, function(e){
						console.log("点击了"+e.index);
						switch(e.index){
							case 1:
								showLoading(true);
								plus.camera.getCamera().captureImage(function(path){
									console.log(path);
									util.log_op("diag.html-从相机拍照", path);
									compressAndUpload(path, "face");
								}, function(err){
									showLoading(false);
									console.log("拍照出错");
									alert("拍照出错"+err);
								})
							break;
							case 2:
							showLoading(true);
							// 打开相册
							plus.gallery.pick(function(path){
								// 回调函数返回图片路径
								console.log(path);
								compressAndUpload(path, "face");
								util.log_op("diag.html-从相册选取图片", path);
							}, function(err){
								showLoading(false);
								alert("读取相册出错"+err);
							},{
								filter: "image"
							});
							break;
						}
					});
				});
				
				mui("body").on("tap", ".tongue-diag", function(){
					console.log("tap");
					plus.nativeUI.actionSheet({
						cancel:"取消",
						buttons:[
							{title: "相机"},
							{title: "相册"}
						]
					}, function(e){
						console.log("点击了"+e.index);
						switch(e.index){
							case 1:
								showLoading(true);
								plus.camera.getCamera().captureImage(function(path){
									console.log(path);
									compressAndUpload(path, "tongue");
								}, function(err){
									showLoading(false);
									console.log("拍照出错");
								})
							break;
							case 2:
							showLoading(true);
							// 打开相册
							plus.gallery.pick(function(path){
								// 回调函数返回图片路径
								console.log(path);
								compressAndUpload(path, "tongue");
								
							}, function(){
								showLoading(false);
							},{
								filter: "image"
							});
							break;
						}
					});
				})
				
				
			});
			showLoading(false);
		</script>
	</body>
</html>
