<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>健康自检</title>
		
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/app.css" rel="stylesheet" />
		<link href="../css/diag.css" rel="stylesheet" />
		<link href="../css/chart.css" rel="stylesheet"/>

		<link rel="stylesheet" href="../css/angular-material.min.css" />
		<script src="../data/question.js" ></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/angular-animate.min.js"></script>
		<script src="../js/angular-aria.min.js"></script>
		<script src="../js/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="../js/angular-material.min.js"></script>
		<!-- echarts-->
		<script src="../js/echarts.min.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">健康自检</h1>
		</header>
		<div style="visibility: hidden">
		<div class="md-dialog-container" id="myDialog">
			<md-dialog layout-padding>
			<h2>Pre-Rendered Dialog</h2>
			<p>
				This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
				template on each opening.
				<br/><br/>
				The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
				Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
				we restore the element back into its old DOM position.
			</p>
			</md-dialog>
		</div>
		</div>
		<div class="mui-content" ng-app="myApp" ng-controller="myCtrl">
			<p style="margin-top:20px;margin-left: 20px;">请点击圆圈，完成健康评估</p>
			<div class="pic-diag-ctn">
				<div class="pic-diag-sub-ctn"> 
					<div class="border">
						<span>面诊</span>
						<img src="../images/face.png" />
					</div>
				</div>
				<div class="pic-diag-sub-ctn"> 
					<div class="border">
						<span>舌诊</span>
						<img src="../images/tongue.png" />
					</div>
				</div>
			</div>
			<div class="qst-ctn border">
				<span>问诊</span>
				<div class="mui-content ">
						
						<div class="mui-row">
							<div class="mui-col-sm-3 mui-col-xs-3 " ng-repeat="q in questions">
								<div class="cir-question-ctn">
									<div class="mui-table-view-cell cir-question" ng-click="showQuestion($event, $index)">
										{{q.question}}
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		
		<script>
			var app = angular.module('myApp', ['ngMaterial', 'ngMessages']);
			app.controller('myCtrl', function($scope, $mdDialog){
				$scope.questions = questions.rows;
				console.log($scope.questions);
				$scope.name = "7787";

				$scope.showQuestion = function(id){
					console.log(id);
					console.log($scope.questions[id]);
				}

				$scope.showQuestion = function(ev, index) {
					$mdDialog.show({
						controller: DialogController,
						locals: {  // added
							id : index,
							qs : $scope.questions
						},
						templateUrl: './dialog1.tmpl.html',
						parent: angular.element(document.body),
						targetEvent: ev,
						clickOutsideToClose:false,
						fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
					})
					.then(function(answer) {
						$scope.status = 'You said the information was "' + answer + '".';
					}, function() {
						$scope.status = 'You cancelled the dialog.';
					});
				};

				function DialogController($scope, $mdDialog, id, qs) {
					$scope.hide = function() {
					$mdDialog.hide();
					};

					$scope.cancel = function() {
					$mdDialog.cancel();
					};

					$scope.answer = function(answer) {
					$mdDialog.hide(answer);
					};
					$scope.id = id;  
					$scope.qs = qs;
					$scope.draw = function(){  //added
						var byId = function(id){
							return document.getElementById(id)
						}
						var myradar = echarts.init(byId('radar'));
						var a = 1000
						var option = {
							title: {
								
							},
							tooltip: {},
							legend: {
								data: ['体质得分'],
								tooltip:{
									color: 'orange'
								}
								
							},
							radar: {
								// shape: 'circle',
								name: {
									textStyle: {
										color: '#fff',
										backgroundColor: '#999',
										borderRadius: 3,
										padding: [3, 5],
										fontSize: 15,
								   }
								   
								},
								indicator: [
								   { name: '阴虚', max: 6500},
								   { name: '阳虚', max: 16000},
								   { name: '气虚', max: 30000},
								   { name: '血瘀', max: 38000},
								   { name: '肾虚', max: 52000},
								   { name: '瘀滞', max: 25000}
								],
								splitNumber: '2',
								splitArea: {
									areaStyle: {
										color: ['white', 'white', 'white', 'white']
									}
								},
								splitLine:{
									lineStyle: {
										color: ['#aaa', '#ddd'],
										width: '1'
									}
								}
								
							},
							series: [{
								name: '预算 vs 开销（Budget vs spending）',
								type: 'radar',
								// areaStyle: {normal: {}},
								data : [
									{
										value : [a, 10000, 28000, 35000, 50000, 19000],
										name : '体质得分',
										lineStyle:{
											color: 'darkred',
											width: '5'
										}
									},
								   
								]
							}]
						};
						myradar.setOption(option);			
					}
				}
			});
			mui.init();
		</script>
	</body>
</html>
