<md-dialog>
	<script src="../data/question.js" ></script>
	<script src="../js/echarts.min.js"></script>
	<link href="../css/chart.css" rel="stylesheet"/>
    <div >
		<md-dialog-actions>
			<span  ng-click="cancel()"  class="mui-icon mui-icon-close"></span>
		</md-dialog-actions>
        
    </div>
	<md-dialog-content>
		<div class="mui-content">
			<div class="mui-row">				
				<p>{{qs[id].question}}</p>
			</div>
			<div class="mui-content-padded"> 
				  <!-- set question type -->
				<form action="" class="mui-input-group" ng-if="qs[id].option_type=='1'">					
					<div class="mui-input-row mui-checkbox mui-left" ng-repeat="c in qs[id].choose" ng-click="choose($index, id)">
					  <label>{{c.title}}</label>
					  <input name="?" value = {{c.title_result}} type="checkbox">				  
					</div>
								
				</form>
				<form action="" class="mui-input-group" ng-if="qs[id].option_type=='0'">
					<div class="mui-input-row mui-radio mui-left" ng-repeat="c in qs[id].choose">
					  <label>{{c.title}}</label>
					  <input name="?" value = {{c.title_result}} type="radio" ng-click="draw()" >				  
					</div>
				</form>
			<div class="mui-content-padded">
				<h5>雷达图</h5>
				<div class="chart" id="radar" ng-click="draw()"></div>

			</div>
			
			
			
		</div>
		
		
	</md-dialog-content>

	
	
</md-dialog>

	