<md-dialog>
	<script src="../data/question.js" ></script>
	<script src="../js/echarts.min.js"></script>
	<link href="../css/chart.css" rel="stylesheet"/>
    <div >
		<md-dialog-actions>
			<span  ng-click="cancel()"  class="mui-icon mui-icon-checkmarkempty"></span>
		</md-dialog-actions>
        
    </div>
	<md-dialog-content>
		<div class="mui-content">
			<div class="mui-row">				
				<p>{{qs[id].question}}<span ng-if="qs[id].option_type=='1'">(多选)</span></p>
			</div>
			<div class="mui-content-padded"> 
				  <!-- set question type -->
				<form action="" class="mui-input-group" ng-if="qs[id].option_type=='1'">					
					<div class="mui-input-row mui-checkbox mui-left" ng-repeat="c in qs[id].choose" ng-click="choose($index, id);draw(c.score,id)">
					  <label>{{c.title}}</label>
					  <input name="duoxuan" value = {{c.title_result}} type="checkbox" ng-click = "draw(c.score,id)">				  
					</div>
								
				</form>
				
				<form action="" class="mui-input-group" ng-if="qs[id].option_type=='0'">
					<div class="mui-input-row mui-radio mui-left" ng-repeat="c in qs[id].choose">
					  <label>{{c.title}}</label>
					  <input name="danxuan" value = {{c.title_result}} type="radio" ng-click="draw(c.score,id)" >				  
					</div>
				</form>
				
				<!--
				<form action="" class="mui-table-view mui-table-view-radio" ng-if="qs[id].option_type=='0'" id="danxuan">
					<li class="mui-table-view-cell" ng-repeat="c in qs[id].choose" ng-click="choose($index, id)">
					  <a class="mui-navigate-right">{{c.title}}</a>		  				  
					</li>
				</form>
				-->
			</div>
			<div class="mui-content-padded">
				<div class="chart" id="radar"></div>

			</div>
			
			
			
		</div>
		
		
	</md-dialog-content>

	
	
</md-dialog>

	