<md-dialog>
	<script src="../data/question.js" ></script>
	<script src="../js/echarts.min.js"></script>
	<link href="../css/chart.css" rel="stylesheet"/>
    <div >
		<md-dialog-actions>
			<span  ng-click="cancel()" >x</span>
		</md-dialog-actions>
        
    </div>
	<md-dialog-content>
		<div class="mui-content">
			<div class="mui-row">				
				<p>{{q.question}}</p>
			</div>
			<div class="mui-content-padded"> 
				<if condition="$q.option_type eq '1'">  <!-- set question type -->
					<form action="" class="mui-input-group">					
							<div class="mui-input-row mui-checkbox mui-left" ng-repeat="c in q.choose">
							  <label>{{c.title}}</label>
							  <input name="?" value = {{c.result}} type="checkbox"  >
							  
							</div>
									
					</form>
				</if>
			<div class="mui-content-padded">
				<h5>雷达图</h5>
				<div class="chart" id="radar"></div>
			</div>
			<!--currently display abnormal-->
				<script src="../js/echarts.min.js"></script>
				<script type="text/javascript">
					var byId = function(id){
						return document.getElementById(id)
					}
					var myradar = echarts.init(byId('radar'));
					var a = 1000
					var option = {
						title: {
							
						},
						tooltip: {},
						legend: {
							data: ['体质得分'],
							tooltip:{
								color: 'orange'
							}
							
						},
						radar: {
							// shape: 'circle',
							name: {
								textStyle: {
									color: '#fff',
									backgroundColor: '#999',
									borderRadius: 3,
									padding: [3, 5],
									fontSize: 15,
							   }
							   
							},
							indicator: [
							   { name: '阴虚', max: 6500},
							   { name: '阳虚', max: 16000},
							   { name: '气虚', max: 30000},
							   { name: '血瘀', max: 38000},
							   { name: '肾虚', max: 52000},
							   { name: '瘀滞', max: 25000}
							],
							splitNumber: '2',
							splitArea: {
								areaStyle: {
									color: ['white', 'white', 'white', 'white']
								}
							},
							splitLine:{
								lineStyle: {
									color: ['#aaa', '#ddd'],
									width: '1'
								}
							}
							
						},
						series: [{
							name: '预算 vs 开销（Budget vs spending）',
							type: 'radar',
							// areaStyle: {normal: {}},
							data : [
								{
									value : [a, 10000, 28000, 35000, 50000, 19000],
									name : '体质得分',
									lineStyle:{
										color: 'darkred',
										width: '5'
									}
								},
							   
							]
						}]
					};
					myradar.setOption(option);
				</script>
			
			
		</div>
		
		
	</md-dialog-content>

	
	
</md-dialog>

	