<md-dialog>
	<script src="../data/tizhi.js" ></script>
	<script src="../js/echarts.min.js"></script>
	<link href="../css/chart.css" rel="stylesheet"/>
	<link href="../css/explain.css" rel="stylesheet"/>
    <div >
		<md-dialog-actions>
			<div style="position: absolute; width: 100%; text-align: center">诊断结果解释</div>
			<span  ng-click="cancel()" style="font-size: 36px; z-index: 1;"  class="mui-icon mui-icon-checkmarkempty"></span>
		</md-dialog-actions>
        
    </div>
	<md-dialog-content>
		<div class="mui-content">
			<div class="mui-content-padded">
				<p>主要体质</p>
				<div><span class="type-text">{{tizhi_expl.type}}</span><span style="padding:10px; color:gray;">{{tizhi_expl.keyword}}</span></div>				
				<div>{{tizhi_expl.summary}}</div>
				<div><span style="font-weight:bold">常见症状:</span>{{tizhi_expl.general}}</div>
				<div><span style="font-weight:bold">体貌特征:</span>{{tizhi_expl.expression}}</div>
				<div><span style="font-weight:bold">心理特征:</span>{{tizhi_expl.mental}}</div>
				<div><span style="font-weight:bold">环境适应能力:</span>{{tizhi_expl.disease}}</div>			
			</div>
			<div class="mui-content-padded">
				<p>面诊舌诊</p>
				<div>{{faceResult}}：{{score_desc(data.faceScore)}}</div>
				<div>{{tongueResult}}：{{score_desc(data.tongueScore)}}</div>
			</div>
			
			<div class="mui-row mui-content-padded">				
				<p>回答的相关问题：</p>
			</div>
			<div class="mui-content-padded" ng-repeat="q in questions" ng-if="q.choose_result!=''">
				<div>
					<div style="font-weight:bold">问题{{$index+1}}:{{q.short_question}}<span ng-if="q.option_type=='1'">(多选)</span></div>
					<div>回答是:{{q.choose_result}}</div>
					<div>结果的影响：{{answer_expl(q)}}</div>
					
				</div>
			</div>
			
			<div class="mui-content-padded">
				<p>雷达图（7种体质得分）:</p>
			</div>
			<div class="mui-content-padded">
				<div class="chart" id="radar"></div>
			
			</div>	
			<div class="mui-content-padded">
				 <p>健康分数计算公式：</p>
				 <ul class="mui-table-view"> 
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">没有症状</a>
							<div class="mui-collapse-content">
									<p>体质：健康</p>
									<p>健康分数：100</p>
							</div>
						</li>
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">1种症状</a>
							<div class="mui-collapse-content">
									<p>体质：当前症状对应的体质</p>
									<p>症状分数=当前症状对应的体质得分</p>
									<p>症状分数>40,健康分数：50+(80-症状分数)×0.8</p>
									<p>症状分数<=40,健康分数：100-症状分数</p>
							</div>
						</li>
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">2种症状</a>
							<div class="mui-collapse-content">
									<p>体质：两种症状对应的体质</p>
									<p>症状分数=两个症状对应的体质得分中较小值</p>
									<p>症状分数>40,健康分数：45+(80-症状分数)×0.8</p>
									<p>症状分数<=40,健康分数：95-症状分数</p>
							</div>
						</li>
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">3种症状</a>
							<div class="mui-collapse-content">
								<p>体质：得分最高的两种症状对应的体质</p>
								<p>症状分数=三个症状对应的体质得分中较小值</p>
								<p>症状分数>40,健康分数：40+(80-症状分数)×0.8</p>
								<p>症状分数<=40,健康分数：90-症状分数</p>
							</div>
						</li>
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">大于3种症状</a>
							<div class="mui-collapse-content">
								<p>体质：所有症状中得分最高的两个对应的体质</p>
								<p>症状分数=所有症状对应的体质得分中最大值</p>
								<p>健康分数：40-绝对值(40-症状分数)</p>
							</div>
						</li>
				</ul>
				 最终得分：100-10×0.8=92分。
			</div>
		</div>
	</md-dialog-content>
</md-dialog>

	