<md-dialog>
	<script src="../data/tizhi.js" ></script>
	<script src="../js/echarts.min.js"></script>
	<link href="../css/chart.css" rel="stylesheet"/>
	<link href="../css/explain.css" rel="stylesheet"/>
    <div >
		<md-dialog-actions>
			<div style="position: absolute; width: 100%; text-align: center">体质成因解释</div>
			<span  ng-click="cancel()" style="font-size: 36px; z-index: 1;"  class="mui-icon mui-icon-checkmarkempty"></span>
		</md-dialog-actions>
        
    </div>
	<md-dialog-content>
		<div class="mui-content">
			<div class="mui-content-padded">
				<p>体质类型</p>
				<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-collapse mui-active">
					<a class="mui-navigate-right" href="#"><span class="type-text">{{tizhi_expl.type}}</span><span style="padding:10px; color:gray;">{{tizhi_expl.keyword}}</span></a>
					<div class="mui-collapse-content">
						<div>{{tizhi_expl.summary}}</div>
						<div><span style="font-weight:bold">常见症状:</span>{{tizhi_expl.general}}</div>
						<div><span style="font-weight:bold">体貌特征:</span>{{tizhi_expl.expression}}</div>
						<div><span style="font-weight:bold">心理特征:</span>{{tizhi_expl.mental}}</div>
						<div><span style="font-weight:bold">环境适应能力:</span>{{tizhi_expl.disease}}</div>	
						<div><b><i>以上内容来自《中医体质与分类判定》标准</i></b></div>
					</div>
				</li>
				</ul>
				
				
						
			</div>
			<div class="mui-content-padded">
				<p>面诊舌诊</p>
				<div>{{faceResult}}：{{score_desc(data.faceScore)}}</div>
				<div>{{tongueResult}}：{{score_desc(data.tongueScore)}}</div>
			</div>
			
			<div class="mui-row mui-content-padded">				
				<p>回答的相关问题：</p>
			</div>
			<div class="mui-content-padded" ng-repeat="q in questions" ng-if="answer_expl(q).indexOf('+')!=-1">
				<div>
					<div style="font-weight:bold">问题{{$index+1}}:{{q.short_question}}<span ng-if="q.option_type=='1'">(多选)</span></div>
					<div>回答是:{{q.choose_result}}</div>
					<div>结果的影响：{{answer_expl(q)}}</div>
					<div style="color:red">{{q.special_info}}</div>
				</div>
			</div>
			
			
			
			
		</div>
	</md-dialog-content>
</md-dialog>

	