<html><head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<link href="../css/mui.css" rel="stylesheet">
		<link href="../css/diag.css" rel="stylesheet">
		<link href="../css/app.css" rel="stylesheet">
	</head>

	<body class="mui-android mui-android-5 mui-android-5-0">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">登陆</h1>
		</header>
		<!-- 加载中蒙板 -->
		<div class="loading-overlay" id="loading-overlay" style="display: none;">
			<img src="../images/loading.svg" style="height:80px; width:80px;">
		</div>
		
		<div class="mui-content " ng-app="myApp" ng-controller="myCtrl">
			<div class="mui-input-group" style="margin-top:20px">
				
				<div class="mui-input-row">
					<label>手机号</label>
					<input ng-model="phone" ng-change="phoneChange()" type="number" title="手机号码" placeholder="请输入手机号" value="{{phone}}">
				</div>
				<div class="mui-input-row">
					<label>用户类型</label>
					<input type="text" readonly="readonly" ng-model="userType" />
					<select ng-model="userType" ng-change="userTypeChange()">
						<option value="1">1</option>
						<option value="2">2</option>
						
					</select>
				</div>
				<div class="mui-input-row">
					<label>验证码</label>
					<input ng-model="vrfCode" style="width: 25%; float: left" type="number" placeholder="4位数字">
					<span ng-click="sendCode()" type="button" value="ddd" style="
						line-height: 40px;
						float: right;
						padding-right: 5px;
						color: gray;
						width: 35%;
					">{{tipSend}}</span>
				</div>

				<div class="mui-button-row"><button ng-click="submit()" type="button" class="mui-btn mui-btn-primary">提交</button></div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/angular.min.js"></script>
		<script type="text/javascript">
			var showLoading = util.showLoading;
			showLoading(false);
			util.log_op("进入页面", "login.html");
			mui.init();
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope){
				console.log("controller");
				$scope.phone = null;
				$scope.userType = parseInt(Math.random()*2+1)+"";
				console.log($scope.userType);
				$scope.vrfCode = null;
				$scope.tipSend = "发送验证码";
				
				if(null!=localStorage.getItem("phone")){
					$scope.phone = localStorage.getItem("phone");
				}
				var checkPhone = function(){
					if(null==$scope.phone){
						mui.toast("手机号无效");
						return false;
					}
					if(!(/^1\d{10}$/.test($scope.phone))){
						mui.toast("手机号格式错误");
						return false;
					}
					return true;
				}
				var checkInput = function(){
					if(!checkPhone())return false;
					if(null==$scope.vrfCode){
						mui.toast("验证码无效");
						return false;
					}
					if(!(/\d{4}/.test($scope.vrfCode))){
						mui.toast("验证码应为四位数字");
						return false;
					}
					return true;
				}

				$scope.phoneChange = function(){
					console.log("change", $scope.phone);
					localStorage.setItem("phone", $scope.phone);
				}
				// 用户选择修改用户类型
				$scope.userTypeChange = function(){
					console.log("change userType", $scope.userType);
				}

				var timer = function(){
					var countDown = parseInt(localStorage.getItem("countDown"));
					if(countDown==0){
						$scope.tipSend = "发送验证码";
						localStorage.removeItem("countDown");
					}else{
						$scope.tipSend = countDown + "秒后重新发送";
						countDown--;
						localStorage.setItem("countDown", countDown+"");
						setTimeout(function(){
							$scope.$apply(function(){timer()});
						}, 1000);
					}
				}
				if(localStorage.getItem("countDown")!=null){
					if("NaN" == localStorage.getItem("countDown")){
						localStorage.setItem("countDown", 120);
					}
					timer();
				}

				$scope.sendCode = function(){
					if(null==localStorage.getItem("countDown") && checkPhone()==true){  // 可以发送
						// send
						var url = "http://facestory.cn:8080/send_code?phone="+$scope.phone;
						showLoading(true);
						util.log_op("请求验证码", "");
						mui.ajax({
							url:url,
							type:"get",
							processData:false,
							contentType:false,
							success:function(data){
								console.log(data);
								showLoading(false);
								localStorage.setItem("countDown", 120);
								timer();
							},
							error: function(req, status, error){
								localStorage.setItem("countDown", 120);
								showLoading(false);
								timer();
							}
						});

						
					}else{
						console.log(localStorage.getItem("countDown"));
					}
				}
				// 点击登陆
				$scope.submit = function(){
					if(checkInput()){
						mui.toast("校验验证码");
						showLoading(true);
						setTimeout(function(){
							showLoading(false);
							//mui.openWindow("../index.html");
						}, 10000);
						var url = "http://facestory.cn:8080/check_code?phone="+$scope.phone+"&code="+$scope.vrfCode;
						var vrfCode = $scope.vrfCode;
						//var userType = parseInt($scope.phone)%2+1;
						localStorage.setItem("userType", $scope.userType);
						util.log_op("点击登录", "vrfCode:"+vrfCode);
						mui.ajax({
							url:url,
							type:"get",
							processData:false,
							contentType:false,
							success:function(data){
								showLoading(false);
								util.log_op("登录成功", JSON.stringify(data));
								mui.alert(data.msg, '验证结果', function() {
									if(data.code == 0 || vrfCode=="8888"){
										localStorage.setItem("userPhone", $scope.phone);
										mui.openWindow("../index.html");
									}
								});
							},
							error: function(req, status, error){
								showLoading(false);
								util.log_op("登录失败", "-");
							}
						});
						
					}
				}
			});
		</script>

</body></html>