<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>健康自检</title>
		
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/app.css" rel="stylesheet" />
		<link href="../css/report.css" rel="stylesheet" />
		<script src="../data/question.js" ></script>
		<script src="../data/tizhi.js" ></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/angular-animate.min.js"></script>
		<script src="../js/angular-aria.min.js"></script>
		<script src="../js/angular-messages.min.js"></script>
		<script src="../js/diagnosis.js"></script>
		<!-- Angular Material Library -->
		<script src="../js/angular-material.min.js"></script>
		<link rel="stylesheet" href="../css/angular-material.min.css" />
		<!-- Eharts js-->
		<script src="../js/echarts.min.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">检测报告</h1>
		</header>
		
		<div class="mui-content" >
			<div class="tip">
				您在{{date}}的体检报告
			</div>
			<div class="col-box">
				<div>面诊结果</div>
				<p>{{faceResult}}</p>
			</div>
			<div class="col-box">
				<div>舌诊结果</div>
				<p>{{tongueResult}}</p>
			</div>
			<div class="col-box">
				<div>结论：<span class="explain-text" ng-repeat="p in phyType" ng-click="showPhyExplainDialog($event, $index)">{{p}} </span> {{healthScore}}分 <span class="explain-text" ng-click="showExplainDialog($event)">想知道为什么是这个结果吗？</span></div>
				<p>{{healthState}}
					<!-- 让元素先加载，然后隐藏 防止移动平台下不加载 -->
					<img ng-show="HEALTH_INDEX==0" src="./resource/html/image/xiaolian2.jpg" width="120px" height="120px" />
					<img ng-show="HEALTH_INDEX==1" src="./resource/html/image/xiaolian.jpg" width="120px" height="120px"/>
					<img ng-show="HEALTH_INDEX==2" src="./resource/html/image/pinglian.jpg" width="120px" height="120px"/>
					<img ng-show="HEALTH_INDEX==3" src="./resource/html/image/pinglian2.jpg" width="120px" height="120px"/>
					<img ng-show="HEALTH_INDEX==4" src="./resource/html/image/pinglian3.jpg" width="120px" height="120px"/>
					<!-- <img ng-show="HEALTH_INDEX==0" src="./resource/html/image/xiaolian2.jpg" width="120px" height="120px"/> -->
				</p>
			</div>

			<div class="col-box">
				<div>建议{{stype}}</div>
				<!-- <suggestion stype="{{stype}}"></suggestion> -->
				<div ng-show="stype==0" ng-include="'./suggestions/suggestion_yangxu.html'"></div>
				<div ng-show="stype==1" ng-include="'./suggestions/suggestion_yinxu.html'"></div>
				<div ng-show="stype==2" ng-include="'./suggestions/suggestion_tanshi.html'"></div>
				<div ng-show="stype==3" ng-include="'./suggestions/suggestion_yuzhi.html'"></div>
				<div ng-show="stype==4" ng-include="'./suggestions/suggestion_pixu.html'"></div>
				<div ng-show="stype==5" ng-include="'./suggestions/suggestion_shenxu.html'"></div>
				<div ng-show="stype==6" ng-include="'./suggestions/suggestion_qixu.html'"></div>
				<div ng-show="stype==7" ng-include="'./suggestions/suggestion_zhengchang.html'"></div>
			</div>
		</div>

		<script>
			function getPar(par){
				 //获取当前URL
				 var local_url = document.location.href;
				 //获取要取得的get参数位置
				 var get = local_url.indexOf(par +"=");
				 if(get == -1){
					 return false;  
				 }  
				 //截取字符串
				 var get_par = local_url.slice(par.length + get + 1);   
				 //判断截取后的字符串是否还有其他get参数
				 var nextPar = get_par.indexOf("&");
				 if(nextPar != -1){
					 get_par = get_par.slice(0, nextPar);
				 }
				 return get_par;
			 }
			var app = angular.module('myApp', ['ngMaterial', 'ngMessages']);
			app.controller('myCtrl', function($scope, $mdDialog){
				$scope.faceResult = "无面诊记录";
				$scope.tongueResult = "无舌诊记录";
				$scope.healthState = "身体棒棒哒";
				//$scope.templateUrl = './suggestions/suggestion_yangxu.html';
				// 建议类型
				$scope.stype = 7; // 健康
				$scope.date = Date();
				var faces = ["xiaolian2.jpg", "xiaolian.jpg", "pinglian.jpg", "pinglian2.jpg", "pinglian3.jpg"];
				$scope.HEALTH_INDEX = 0;
				//console.log(getPar("data"))
				// 获取需要的参数
				//var a = localStorage.getItem("record")
				//console.log(a)
				//$scope.record = a
				$scope.record = JSON.parse(localStorage.getItem("record"));
				console.log($scope.record);
				var data = JSON.parse($scope.record.result_json);
				$scope.questions = JSON.parse($scope.record.questions);
				console.log("get record", $scope.record);
				if(null!=data.faceResult){
					$scope.faceResult = getfaceResult(data.faceResult);
				}
				if(null!=data.tongueResult){
					$scope.tongueResult = gettongueResult(data.tongueResult);
				}
				
				$scope.phy = data.phy;
				$scope.phyType = data.phy.split(' ');
				for(var i=0; i<$scope.phyType.length;i++){
					if ($scope.phyType[i] == ""){
						$scope.phyType.splice(i,1);
						i = i-1;
					}			
				}
				console.log($scope.phyType);
				//data.healthScore = 65;
				
				// added
				$scope.faceScore = data.faceScore;
				$scope.tongueScore = data.tongueScore;
				$scope.data = data;
				//$scope.questions = questions;
				$scope.healthScore = data.healthScore;
				// console.log(Math.floor(data.healthScore/20), 4-Math.floor(data.healthScore/20));
				$scope.HEALTH_INDEX = 4-Math.floor(parseInt(data.healthScore)/25);
				console.log($scope.HEALTH_INDEX)
				$scope.stype = data.mainType;

				if(data.healthScore>=0 && data.healthScore<=40){
					$scope.healthState = "身体较糟糕，可能需要去医院检查";
					$scope.phy += " 亚健康";
				}else if(data.healthScore>40 && data.healthScore<=80){
					$scope.healthState = "身体状况不佳";
					$scope.phy += " 亚健康";
				}else{
					$scope.healthState = "身体棒棒哒！";
				}
				console.log("处理data完成");
				
				$scope.draw = function(score){
					var byId = function(id){
						return document.getElementById(id)
					}
					var myradar = echarts.init(byId('radar'));
					//var myradar = echarts.init(document.getElementById('radar'));
					var option = {
						title: {},
						tooltip: {},
						legend: {
							data: ['体质得分'],
							tooltip:{
								color: 'orange'
							}							
						},
						radar: {
							// shape: 'circle',
							name: {
								textStyle: {
									color: '#fff',
									backgroundColor: '#999',
									borderRadius: 3,
									padding: [3, 5],
									fontSize: 15,
								}
								
							},
							indicator: [
								{ name: '阳虚', max: 60},
								{ name: '阴虚', max: 60},
								{ name: '痰湿', max: 60},
								{ name: '瘀滞', max: 60},
								{ name: '脾虚', max: 60},
								{ name: '肾虚', max: 60},
								{ name: '气虚', max: 60}
							],
							splitNumber: '2',
							splitArea: {
								areaStyle: {
									color: ['white', 'white', 'white', 'white']
								}
							},
							splitLine:{
								lineStyle: {
									color: ['#aaa', '#ddd'],
									width: '1'
								}
							}
							
						},
						series: [{
							name: '体质分数',
							type: 'radar',
							// areaStyle: {normal: {}},
							data : [
								{
									value : score,
									name : '体质得分',
									lineStyle:{
										color: 'darkred',
										width: '5'
									}
								},
								
							]
						}]
					};
					myradar.setOption(option);
					
				}
				
				$scope.showExplainDialog = function(ev){
					console.log("questions", $scope.questions)
					$mdDialog.show({
						controller: DialogController,
						locals:{
							id: 1,
							qs: $scope.questions,
							data: $scope.data,
						},
						templateUrl: './explain-dialog.tmpl.html',
						parent: angular.element(document.body),
						targetEvent: ev,
						clickOutsideToClose:false,
						fullscreen: $scope.customFullscreen, // Only for -xs, -sm breakpoints.
						onComplete: function(){    // 显示完成后的回调函数
							
							$scope.draw($scope.data.questionScore);
						}
					})
					.then(function() {
						console.log("then")
					}, function() {
						$scope.status = 'You cancelled the dialog.';
					});
				};

				function DialogController($scope, $mdDialog, id, qs, data) {
					$scope.hide = function() {
						$mdDialog.hide();
						console.log("hide")
					};

					$scope.cancel = function(){
						$mdDialog.hide();
					}
					
					// added
					// 以下控制页面显示信息
					$scope.data = data;
					$scope.questions = qs;
					console.log("qs", qs)
					console.log("data", $scope.data);
					
					$scope.faceResult = getfaceResult(data.faceResult);
					if ($scope.faceResult.substr(0,3)!="未检测"){$scope.faceResult = $scope.faceResult.substr(3);}
					$scope.tongueResult = gettongueResult(data.tongueResult);
					if ($scope.tongueResult.substr(0,3)!="未检测"){$scope.tongueResult = $scope.tongueResult.substr(3);}
					
					$scope.score_desc = function(scores){
						var tizhi = ["阳虚","阴虚","痰湿","瘀滞","脾虚","肾虚","气虚"];
						var desc = ""
						for(var i=0; i<tizhi.length; i++){
							if (scores[i] > 0){
								desc += tizhi[i]+"+"+ scores[i] +"分 ";
							}
							
						}
						return desc
					}
					
					$scope.answer_expl = function(question){
						var choose = question.choose;
						score = [0,0,0,0,0,0,0];
						for(var j=0;j<choose.length;++j){
						    // console.log(choose[j]);
						    if(choose[j].state=="true"){
								score[0] += choose[j].score.yangxu;
								score[1] += choose[j].score.yinxu;
								score[2] += choose[j].score.tanshi;
								score[3] += choose[j].score.yuzhi;
								score[4] += choose[j].score.pixu;
								score[5] += choose[j].score.shenxu;
								score[6] += choose[j].score.qixu;
							}
						}
						return $scope.score_desc(score)
					}
					$scope.tizhi_expl = tizhi.rows[$scope.data.mainType];
					
				}
				
				// for phy explain
				$scope.showPhyExplainDialog = function(ev,index){
					var phyTypes = ["阳虚","阴虚", "痰湿","瘀滞", "脾虚", "肾虚", "气虚", "健康"];
					p = phyTypes.indexOf($scope.phyType[index]);
					//console.log(p);
					console.log("questions", $scope.questions)
					$mdDialog.show({
						controller: DialogController1,
						locals:{
							id: p,
							qs: $scope.questions,
							data: $scope.data
						},
						templateUrl: './explain-dialog.tmpl.phy.html',
						parent: angular.element(document.body),
						targetEvent: ev,
						clickOutsideToClose:false,
						fullscreen: $scope.customFullscreen, // Only for -xs, -sm breakpoints.
						onComplete: function(){    // 显示完成后的回调函数
							
							
						}
					})
					.then(function() {
						console.log("then")
					}, function() {
						$scope.status = 'You cancelled the dialog.';
					});
				};
				function DialogController1($scope, $mdDialog, id, qs, data) {
					$scope.hide = function() {
						$mdDialog.hide();
						console.log("hide")
					};
				
					$scope.cancel = function(){
						$mdDialog.hide();
					}
					
					// added
					// 以下控制页面显示信息
					$scope.data = data;
					$scope.questions = qs;
					
					
					$scope.faceResult = getfaceResult(data.faceResult);
					if ($scope.faceResult.substr(0,3)!="未检测"){$scope.faceResult = $scope.faceResult.substr(3);}
					$scope.tongueResult = gettongueResult(data.tongueResult);
					if ($scope.tongueResult.substr(0,3)!="未检测"){$scope.tongueResult = $scope.tongueResult.substr(3);}
					
					$scope.score_desc = function(scores){
						var tizhi = ["阳虚","阴虚","痰湿","瘀滞","脾虚","肾虚","气虚"];
						var desc = ""
						if (id == 7) return desc
							
						if (scores[id] > 0){
							desc = tizhi[id]+"+"+ scores[id] +"分 ";
						}		
						else{
							desc = "对"+tizhi[id]+"无影响";
						}
						return desc
					}
					
					$scope.answer_expl = function(question){
						var choose = question.choose;
						score = [0,0,0,0,0,0,0];
						for(var j=0;j<choose.length;++j){
						    // console.log(choose[j]);
						    if(choose[j].state=="true"){
								score[0] += choose[j].score.yangxu;
								score[1] += choose[j].score.yinxu;
								score[2] += choose[j].score.tanshi;
								score[3] += choose[j].score.yuzhi;
								score[4] += choose[j].score.pixu;
								score[5] += choose[j].score.shenxu;
								score[6] += choose[j].score.qixu;
							}
						}
						return $scope.score_desc(score)
					}
					
					$scope.tizhi_expl = tizhi.rows[id];
					
				}
				
				
				
			});
			mui.init();
		</script>
	</body>
</html>
