.mui-content{
    padding: 15px;
    font-size: small;
}

.pic-diag-ctn{
    position: relative;
    display: flex;
}

.pic-diag-sub-ctn{
    display: block;
    width: 50%;
    float: left;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.border{
    border: 1px solid green;
    border-radius: 5px;
    margin: 4px;
    position: relative;
}

.pic-diag-sub-ctn span{
    float: left;
    top: 2px;
    left: 2px;
    position: absolute;
    font-weight: bolder;
}
.qst-ctn span{
    padding-top: 2px;
    padding-left: 2px;
    font-weight: bolder;
}

.pic-diag-sub-ctn img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
}

/* 上一次选了没有症状的选项 */
.cir-question-ctn-last-good{
    background: white;
    border: 1px solid green;
    color: green;
    border-radius: 10px;
    margin: 4px;

    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

/* 上一次选了没有症状的选项 */
.cir-question-ctn-last-bad{
    background: white;
    border: 1px solid orange;
    color: orange;
    border-radius: 10px;
    margin: 4px;

    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

/* 没选 */
.cir-question-ctn{
    background: white;
    margin: 4px;
    border-radius: 10px;
    color: black;
    border:solid 1px transparent
}

/* 选了没有症状的选项 */
.cir-question-ctn-good{
    background: green;
    margin: 4px;
    border-radius: 10px;
    color: white;
    border:solid 1px transparent
}
/* 选了有症状的选项 */
.cir-question-ctn-bad{
	background: orange;
	margin: 4px;
	border-radius: 10px;
	color: white;
	border:solid 1px transparent
	
}
.cir-question{
    font-size: xx-small;
}

.qst-dlg{
    background: transparent;
    padding: 10%;
    position: fixed;
    width: 100%;
    height: 100%;
}
.qst-dlg .content{
    background: white;
    
}

md-dialog{
    width: 95%;
}

.pic-diag-ctn input{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 9;
    cursor: pointer;
    /* visibility: hidden; */
    opacity: 0;
}


.color-board{
    position: absolute;
    bottom: 4px;
    right: 4px
}
.color-board div:nth-child(1){
    color:orange;
}

.color-board div:nth-child(2){
    color:green;
}

.color-board div:nth-child(3){
    color:black;
}

.footer{
    text-align: center;
    margin-top: 25px;
}

.footer .btn{
    background: #4894e6;
    border-radius: 4px;
    padding: 10px 30px;
    color: white;
}

.desc{
    height: 40px;
}

.tizhi span{
    padding: 0 2px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.mui-popup-text{
    text-align: start;
}