.mui-content{
    padding: 15px;
    font-size: small;
}

.pic-diag-ctn{
    position: relative;
    display: flex;
}

.pic-diag-sub-ctn{
    display: block;
    width: 50%;
    float: left;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.border{
    border: 1px solid green;
    border-radius: 5px;
    margin: 4px;

}

.pic-diag-sub-ctn span{
    float: left;
    padding-top: 2px;
    padding-left: 2px;
}
.qst-ctn span{
    padding-top: 2px;
    padding-left: 2px;
}

.pic-diag-sub-ctn img{
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
}
.cir-question-ctn{
    background: green;
    margin: 4px;
    border-radius: 10px;
    color: white;
}
.cir-question{
    
}

.qst-dlg{
    background: transparent;
    padding: 10%;
    position: fixed;
    width: 100%;
    height: 100%;
}
.qst-dlg .content{
    background: white;
    
}