.mui-content{
    padding: 15px;
    font-size: small;
}

.pic-diag-ctn{
    position: relative;
    display: flex;
}

.pic-diag-sub-ctn{
    display: block;
    width: 50%;
    float: left;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.border{
    border: 1px solid green;
    border-radius: 5px;
    margin: 4px;
    position: relative;
}

.pic-diag-sub-ctn span{
    float: left;
    top: 2px;
    left: 2px;
    position: absolute;
    font-weight: bolder;
}
.qst-ctn span{
    padding-top: 2px;
    padding-left: 2px;
    font-weight: bolder;
}

.pic-diag-sub-ctn img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
}
.cir-question-ctn{
    background: green;
    margin: 4px;
    border-radius: 10px;
    color: white;
}
.cir-question-ctn-bad{
	background: orange;
	margin: 4px;
	border-radius: 10px;
	color: white;
	border: 1px solid orange;
	position: relative;
}
.cir-question{
    font-size: xx-small;
}

.qst-dlg{
    background: transparent;
    padding: 10%;
    position: fixed;
    width: 100%;
    height: 100%;
}
.qst-dlg .content{
    background: white;
    
}

md-dialog{
    width: 95%;
}

.pic-diag-ctn input{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    /* visibility: hidden; */
    opacity: 0;
}

.loading-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: gray;
    opacity: 0.7;
    z-index: 11;
}

.loading-overlay img{

    height: 80px;
    width: 80px;
    background: white;
    border-radius: 10px;
    vertical-align: middle;
    display: flex;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

.color-board{
    position: absolute;
    bottom: 4px;
    right: 4px
}
.color-board div:nth-child(1){
    color:red;
}

.color-board div:nth-child(2){
    color:green;
}

.color-board div:nth-child(3){
    color:black;
}

.footer{
    text-align: center;
    margin-top: 25px;
}

.footer .btn{
    background: white;
    border-radius: 4px;
    padding: 10px 30px;
}